# Build output
bin/
obj/

# User-specific files
*.user
*.suo
.vs/

# Development-specific config files
appsettings.Development.json

# Rider IDE files 
.idea/

# Logs and temp files
*.log
*.tmp

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python virtual environment
.venv/
venv/
ENV/
env/

# pip environment
pip-log.txt
pip-delete-this-directory.txt

# SQLFluff lint cache
.sqlfluffcache/

# VS Code settings
.vscode/

# Tests for SQL

/scritps/sql/Tests

# OS files
.DS_Store
Thumbs.db

# Environment variables or secrets (if using dotenv)
.env
-d
-H
\[stage-1

# Extra measure, probably not needed
secrets.py 
